body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #111827;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 30px auto;
}

.course {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#search {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.course-detail {
    background: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}